#============================================================================
# CONEXÃO ===================================================================
#============================================================================
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

#============================================================================
# RESOURCES =================================================================
#============================================================================
ensure nav_arsenal-v2

# Nome do servidor
sv_hostname "Servidor Sp Vila"

# Senha do RCON
rcon_password "minhasenha"

# Configuração de slots
sv_maxclients 32

# API Key do FiveM
sv_licenseKey "cfxk_1OooR5z9izypvfesENopl_3Ogkiy"